<nav class="sections-sidebar">
<ul>
    <li>World</li>

    <li class = "dropdown"> San Francisco
      <ul class = "subheader">
        <li>Students</li>
        <li>Teaching Assistant</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
      </li>

    <li class= "dropdown">New York
      <ul class = "subheader">
        <li>Students</li>
        <li>Teaching Assistant</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
      </li>

      <li class= "dropdown"> Bootcamp Prep
      <ul class = "subheader">
        <li>Students</li>
        <li>Instructors</li>
        <li>Cats</li>
      </ul>
      </li>

      <li class= "dropdown">Jumpstart
      <ul class = "subheader">
        <li>Students</li>
        <li>Teaching Assistant</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
      </li>

      <li class= "dropdown">Online
      <ul class = "subheader">
        <li>Immersive</li>
        <li>Bootcamp Prep</li>
        <li>Cats</li>
      </ul>
      </li>
      
      <li class= "dropdown">Marketing
      <ul class = "subheader">
        <li>Cats</li>
      </ul>
      </li>

      <li class= "dropdown">Sales
      <ul class = "subheader">
        <li>Associates</li>
        <li>Analytics</li>
        <li>Cats</li>
      </ul>
      </li>

      <li class= "dropdown">TalentWatch
      <ul class = "subheader">
        <li>Students</li>
        <li>Cats</li>
      </ul>
      </li>

      <li class= "dropdown">Alumni
      <ul class = "subheader">
        <li>Students</li>
        <li>Companies</li>
        <li>Opinions</li>
        <li>Cats</li>
      </ul>
      </li>

    <li><a href="#">All</a></li>
  </ul>
</nav>